{% extends 'catalog/base_generic.html' %}

{% block content %}
    <h1>Book List</h1>    
    <hr />
    {% if book_list %}
        <div class="row px-3 mb-2">
            <div class="col">
                {% for book in book_list %}
                    <div class="row border-top-0 rounded">
                        <div class="col-2 border d-flex justify-content-center py-1">
                            <img width="130" height="150" class="border" src="{{ book.image_url }}" >
                        </div>
                        <div class="col-7 border d-flex align-items-center">
                            <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
                        </div>
                        <div class="col-3 border d-flex align-items-center">
                            <p>{{ book.author }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock content %}
    